/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  height: 100vh;
}
.logo {
  margin: 0 10px 0;
  height: 30px;
  width: 100px;
}
/* Sidebar */
.sidebar {
  background: #d6eaff;
  color: rgb(83, 0, 0);
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

/* Header */
.header {
  background: #4a0000;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 24px;
}

.transactions,.allcustomer{
  border-radius: 6px;
  margin: 15px;
  padding: 10px;
  gap: 20px;
}
.transactions{
  background-color: rgba(136, 255, 227, 0.607);
}

.allcustomer{
  background-color: rgba(200, 255, 151, 0.534);
}
#transaction-list li,#customer-list li{
padding: 10px;
}


#transaction-form, .left, .right, #add-customer-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#add-customer-form {
  gap: 20px;
}