body {
      font-family: sans-serif;
background: linear-gradient(to right, #f0f0f0, #dcdcdc);
      text-align: center;
    }

    .outputs {
       background-color: white;
      max-width: 750px;
      margin-top: 20px;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 10px;
      margin: auto;
    }

    #modeList {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }

    .modeChip {
      padding: 6px 12px;
      border-radius: 20px;
      background: #007bff;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }









    .chat-input {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      border-radius: 30px;
      padding: 5px 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      max-width: 600px;
      width: 90%;
      z-index: 999;
    }

    .chat-input button {
      background: #25d366;
      border: none;
      color: white;
      font-size: 16px;
      padding: 8px;
      margin: 0 3px;
      border-radius: 50%;
      cursor: pointer;
      width: 35px;
      height: 35px;
    }

    .chat-input input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 16px;
      padding: 8px 12px;
      margin: 0 5px;
      border-radius: 20px;
      background: #f0f0f0;
    }

    .chat-input button.send {
      background: #128c7e;
    }

    .stopBtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      margin-right: 20px;
    }

    .stopBtn button {
      background: #25d366;
      border: none;
      color: white;
      font-size: 16px;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #stopLis {
      display: none;
    }


    #output1,
    #output2,
    #output3,
    #output4,
    #output5 {
      padding-top: 10px;
    }